body
  background: white
p
  font: 12px "Helvetica", Arial, sans-serif
.ib
  display: inline-block
.quoteButton
  background-color: #48D1CC
  border-radius: 5px
  color: white
  padding: 25px
  text-align: center
#titleText
  color: #48D1CC
.footerText
  color: #1E90FF
.footer
  background: #4169E1
.zip
  background: #1E90FF
.accolade
  background: #F5F5F5
